<div class="row">
  <div class="col-md-3" style="min-height: 320px; border-right: 1px solid #ccc;">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" ng-class="{'active': vm.tab == 0}">
        <a href="javascript:" ng-click="vm.toTab(0)">Basic Settings</a>
      </li>
      <li role="presentation" ng-class="{'active': vm.tab == 1}">
        <a href="javascript:" ng-click="vm.toTab(1)">Address Settings</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12" ng-if="vm.tab == 0">
        <div class="form-group">
          <label for="inp_group_name">Name</label>
          <input type="text"
                 style="width: 320px;"
                 class="form-control"
                 id="inp_group_name"
                 name="inp_group_name"
                 pattern="[a-zA-Z_][a-zA-Z0-9_]{0,63}"
                 maxlength="64"
                 ng-model="vm.gp.name"
                 ng-disabled="!vm.gp.isNew"
                 placeholder="Input group name here..." required>
        </div>
        <div class="form-group">
          <label for="inpGroupExp">Expires</label>
          <input type="number" class="form-control" id="inpGroupExp" style="width: 100px;"
                 ng-model="vm.gp.expires" max="3600" min="60" step="10"
                 placeholder="Input group expire(seconds) here...">
        </div>
      </div>
      <div class="col-md-12" ng-if="vm.tab == 1">
        <div class="row" ng-repeat="item in vm.gp.addresses">
          <div class="col-md-12">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">URL</span>
              <input type="text" class="form-control"
                     pattern="^rtmp://([a-zA-Z0-9\-_.]+)(:[1-9][0-9]+)?/([a-zA-Z0-9_\-]+)$"
                     placeholder="Input your rtmp url. (eg: rtmp://send3.douyu.com/live)"
                     ng-model="item.url" required>
            </div>
            <div class="input-group input-group-sm" style="margin-top: 5px;">
              <span class="input-group-addon">KEY</span>
              <input type="text" class="form-control"
                     placeholder="Input your stream key."
                     ng-model="item.streamKey">
            </div>
            <hr>
          </div>
        </div>
        <hr ng-if="vm.gp.addresses.length<1">

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <p>
              <a href="javascript:" class="text text-warning" role="button" ng-click="vm.resetAddress()"><i
                class="fa fa-undo" aria-hidden="true"></i> reset
              </a>
            </p>
          </div>
          <div class="col-md-6">
            <p style="text-align: right;">
              <a href="javascript:" class="text text-primary" role="button" ng-click="vm.newAddress()"><i
                class="fa fa-plus" aria-hidden="true"></i> add new
                address</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
