<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </console>
    <RollingFile name="R" fileName="${env:RAPTOR_LOG_DIR}/raptor.log" filePattern="${env:RAPTOR_LOG_DIR}/raptor.%i.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="32 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </appenders>
  <loggers>
    <root level="INFO">
      <appender-ref ref="R"/>
    </root>
  </loggers>
</configuration>

